.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}


.hero-section {
    background: url(/assets/images/interior.png) no-repeat center center;
    background-size: cover;
    height: 300px;
    position: relative;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-text {
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}


.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
